.niztech-youtube-thumbnails {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 2em;
	padding-top: 1em;
	border-top: 1px solid #d3d3d3;

	.niztech-youtube-thumbnail {
		display: block;
		margin: 1em;
		padding: 1em;
		width: 240px;
		border: 1px solid transparent;
		&:hover {
			border: 1px solid #308297;
		}
	}

	.niztech-youtube-thumbnail-picture {
		display: block;
		min-height: 180px;
		width: inherit;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border: 1px solid transparent;
	}
}
